In [1]:
print("aolla")

aolla

In [11]:

a=55
print(a)
print(type(a))

a=5.5
print(a)
print(type(a))

a=(4,7,0,9)
print(a)
print(type(a))

a={1:5}
print(a)
print(type(a))
a=[4,7,7]
print(a)
print(type(a))

a="yoo"
print(a)
print(type(a))

a='d'
print(a)
print(type(a))

a=range(7,8)
print(a)
print(type(a))

55
<class 'int'>
5.5
<class 'float'>
(4, 7, 0, 9)
<class 'tuple'>
{1: 5}
<class 'dict'>
[4, 7, 7]
<class 'list'>
yoo
<class 'str'>
d
<class 'str'>
range(7, 8)
<class 'range'>

In [17]:
a="zzzz"
b="rrrr"
c="ooooo"
print(a,b,c)
print(a+b+c)

zzzz rrrr ooooo
zzzzrrrrooooo

In [18]:
a=b=c=122
print(a)
print(b)
print(c)

122
122
122

In [19]:
a=input()
print(a)
print(type(a))

 5

5
<class 'str'>

In [20]:
a=input()
b=input()
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 2
 7

27
<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
a=int(input())
b=int(input())
c=a+b
print(c)
print(type(a))
print(type(b))
print(type(c))

 5
 8

13
<class 'int'>
<class 'int'>
<class 'int'>

In [23]:
a=input("enter the number")
b=input("enter number")
c=a+b
print(c)

enter the number 6
enter number 8

68

In [22]:
a=int(input("hajimaste"))
b=int(input("saki"))
c=a+b
print(c)

hajimaste 5
saki 7

12

a,b,c=input("enter the no").spilt()
d=a+b+c
print(d)

In [1]:
a,b,c=input("enter three no").split()
d=a+b+c
print(d)

enter three no 6 8 4

684

In [15]:
a=b=c=input("enter three no:").split()


d=a+b+c
print(d)

enter three no: 9 8 7

['9', '8', '7', '9', '8', '7', '9', '8', '7']

In [4]:
name =input("enter the name:")
age =int(input("enter the age"))


if age>=18:
        print(name)
        print("cadidate is elegible")
else:
         print(name)
         print("cadidate is not elegible")

enter the name: kai
enter the age 56

kai
cadidate is elegible

In [7]:
name =input("enter the name")
weight=int(input("enter the weight of the person:"))
           
if weight<=50:
           print(name)
           print("cadidate can donate the blood")
else:
     print(name)
     print("cadidate can not donate the blood")

enter the name kazu
enter the weight of the person: 49

kazu
cadidate can donate the blood

In [11]:
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))

if num1>num2:
    print("it is greater")
else:
    print("it is not greater")

enter the first number: 8
enter the second number: 9

it is not greater:

In [12]:
a=int(input())
b=int(input())
c=int(input())

if a>b:
    if a>c:
     print("a is greater")
    else:
     print("c is greater")
else:
    if b>c:
        print("b is greater")
    else:
        print("c is greater")

 4
 9
 7

b is greater

In [37]:
marks= int(input("enter the marks:"))
if marks>=90 and marks<=100:
    print("grade =A+")
else:
    if marks>=80 and marks<=90:
        print("grade =A")
    else: 
         if marks>=70 and marks<=80:
              print("grade =B+")
         else:
              if marks>=60 and marks<=70:
                  print("grade =B")
              else: 
                     if marks>=50 and marks<=60:
                       print("grade =C")
                     else:
                         if marks>=40 and marks<=50:
                           print("grade =D")
                         else:
                            if marks>=30 and marks<=40:
                                 print("grade =E")
                            else:
                                if marks>=0 and marks<=30:
                                      print("grade =F")
                                else:
                                        print("invalid choice")

enter the marks: 101

invalid choice

In [39]:
sub=int(input("enter the subject name"))

match sub:
    case 1:print("english")
    case 2:print("hindi")
    case 3:print("kannada")
    case 4:print("maths")
    case 5:print("social")
    case _:print("invaild no")

enter the subject name 5

social

In [41]:
sub=int(input("enter the subject name"))

match sub:
    case 1:print("english")
    case 2:print("hindi")
    case 3:print("kannada")
    case 4:print("maths")
    case 5:print("social")
    case _ if sub ==6:
        print("c")
    case _ if sub ==8:
        print("c++")
    case _ if sub>9 and sub<18:
        print("java")
    case _ if sub ==19:
       print("invaid no")

enter the subject name 19

invaid no

In [45]:
for y in range(0,10):
    print(y)
    y=y+1

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(0,5):
    for y in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [11]:
a=0
b=1
n=int (input("enter the length of the series"))
print(a,b,end=" ")
for y in range(0,n-2):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

enter the length of the series 5

0 1 1 2 3

In [12]:
def abcd(a,b=7):
    c=a+b
    print(c)
    return

A=int(input())
B=int(input())

abcd(A,B)
abcd(A)

 7
 9

16
14

In [13]:
def abcd(a,b=7):
    c=a+b
    return c

A=int(input())
B=int(input())

abcd(A,B)

 7
 9

16

In [16]:
num = int(input("Enter a number: "))
reversed_num = 0

while num > 0:
    rem = num % 10
    reversed_num = reversed_num * 10 + rem
    num //= 10

print("Reversed number:", reversed_num)

Enter a number:  2 3 4 5

ValueError: invalid literal for int() with base 10: '2 3 4 5'

In [28]:
def factorial(n):
  if n==0 or n==1:
   return 1
  else:
   return n*factorial (n-1)

num=int(input("enter a number"))
if num<0:
     print("factorial is not defined for negitive number")
else:
     print("factioral of ",num,"is",factorial(num))

enter a number 5

factioral of  5 is 120

In [39]:
def isprime(num):
    if num <=0:
     return 0
    for i in range(2,int(num**2)+1):
     if num % i ==0:
        return 0 
        return 1
num=int(input("enter a number"))
if isprime(num):
 print(" it is prime number ",num)
else:
 print("it is not a prime number",num)

enter a number 6

it is not a prime number 6

def identifycharacter(c):
    if islower(ch):
      print("the character",c,"is lowercase",ch)
    elif (issupper(ch)):
      print("the character",c,"is suppercase",ch)
    elif (isdigit(ch)):
      print("the character",c,"is numeric",ch)
    else:
      print("the character",c,"is special",ch)

ch=input("enter the character")
print(identifycharcter(c))

In [14]:
a=[1,2,3,4,5.6,7,"suki"]
print(a)
print(a[2])
print(a[6][3])
print(type(a[5]))

[1, 2, 3, 4, 5.6, 7, 'suki']
3
i
<class 'int'>

In [11]:
x=[7,8,9,5]
for i in range(0,4):
  print(x[i])

7
8
9
5

In [16]:
x=['s','f','g','h']
for i in range(0,4):
  print(x[i])

s
f
g
h

copy :return the copy list
append :append object to the end of the list
extend:extend list by appending elements from the iterable
index:return the index of value
pop:remove and return item at index (default list)
count:return no of occurence of value
insert:insert object before index
remove:remove first occenence in the list
sort:sort the list in ascending order n return none
len(list):it vll give the length the list

In [17]:
a=[3,4,5,6]
b=a.copy()
print(b)

[3, 4, 5, 6]

In [19]:
a=[3,4,5,6]
b=a.copy()
print(b)

c=b.pop()
print(c)

[3, 4, 5, 6]
6

In [28]:
a=[3,4,5,6]
b=a.copy()
print(b)

c=b.pop()
print(c)

print(b)
b.append(10)
print(b)
b.append(10)
b.append(7)
b.append(10)
print(b.index(4))

print(b.count(10))

b.insert(3,7)
print(b)

b.remove(3)
print(b)

b.sort(reverse=True)
print(b)

print(len(b))

b.extend(a)#temparory change
print(b)

[3, 4, 5, 6]
6
[3, 4, 5]
[3, 4, 5, 10]
1
3
[3, 4, 5, 7, 10, 10, 7, 10]
[4, 5, 7, 10, 10, 7, 10]
[10, 10, 10, 7, 7, 5, 4]
7
[10, 10, 10, 7, 7, 5, 4, 3, 4, 5, 6]

In [29]:
a=[10, 310, 10, 7, 67, 5, 4, 3, 74, 5, 6]
for x in a:#for each loop
    print(x)

10
310
10
7
67
5
4
3
74
5
6

In [34]:
n=int(input("enter the size of the list"))
a=[]
for x in range(0,n):
    x = input(x)
    a.append(x)
print(a)

enter the size of the list 4
0 8
1 0
2 8
3 6

['8', '0', '8', '6']

In [33]:
L = [int(item) for item in (input("enter the elements of the list:")).split()]
print(L)

enter the elements of the list: 7 8 9 6

[7, 8, 9, 6]

TUPLES

In [39]:
a=[1,2,3,5,6]

a.sort(reverse=True)
print(a)

[1, 2, 3, 5, 6]
[6, 5, 3, 2, 1]

In [54]:
a=[9,9,6,5,3]
for x in range(-1,-1*(len(a)+1),-1):
  print(a[x])

3
5
6
9
9

In [55]:
a=[9,9,6,5,3]
for x in range(0,len(a)):
  print(a[-1*(x+1)])

3
5
6
9
9

dictionary

key and values

key values pair
D={1."sss"}
1 is key 
sss is value

In [57]:
D={1:"saki",2:"goku"}
print(D)

{1: 'saki', 2: 'goku'}

In [58]:
D={1:"saki",2:"goku",2:"yuki"}#over write /take the uptadated one
print(D)

{1: 'saki', 2: 'yuki'}

In [61]:
D={1:"saki",2:"goku"}
print(D)

print(D[2])
print(D.keys())
print(D.values())
print(D.items())

{1: 'saki', 2: 'goku'}
goku
dict_keys([1, 2])
dict_values(['saki', 'goku'])
dict_items([(1, 'saki'), (2, 'goku')])

write a prgm to take a key n value from the user input  and add it to dic if key is not present in dic
otherwise print key already exist n also print its coressponding value.............

In [72]:
dict ={}
key=(input("enter the key"))
value=int(input("enter the value"))

if key in dict:
    print("key is already existed")
    print("value:",dict[key])
else:
    dict[key]=value
    print("key is added")
    print("updated dictionary:",dict)

enter the key yyy
enter the value 99

key is added
updated dictionary: {'yyy': 99}

In [1]:
A=input()
B=input()
try:
    c=A/B
except:
    print("wwe cant divide by zero")
    c=0
else:
    print("division success")
    print(c)
finally:
    print("error handled")

print("we have received the results as :",c)

 7
 0

wwe cant divide by zero
error handled
we have received the results as : 0

In [7]:
A=input()
B=input()

   c=A/B


print("we have received the results as :",c)

IndentationError: unexpected indent (3871846581.py, line 4)

In [9]:
a=[1,2,3,4,5,6]
index=int(input("enter the index "))

try:
    print(a[i])
except:
    print("the index is not existed")

enter the index  6

the index is not existed

In [14]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="he
except ValueError :
    print("the value cant be converted")
except ZeroDivisionError :
    print("cant be divisible to zero")
except:
    print("some unknown error")
else:
    print("no error")
finally:
    print("code executed")

 9
 0

cant be divisible to zero
code executed

write aphyton prgm to find the sum of all the elements in the list n enter the case if it is non numerical value

In [ ]:
def identifycharacter(c):
    if islower(ch):
      print("the character",c,"is lowercase",ch)
    elif (issupper(ch)):
      print("the character",c,"is suppercase",ch)
    elif (isdigit(ch)):
      print("the character",c,"is numeric",ch)
    else:
      print("the character",c,"is special",ch)

ch=input("enter the character")
print(identifycharcter(c))

In [ ]:

def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    if y == 0:
        return "error! division by zero"
    else:
        return x / y
def modulo(x, y):
    if y == 0:
        return "error! modulo by zero"
    else:
        return x % y
while True:
    print("\nmenu:")
    print("1. addition")
    print("2. subtraction")
    print("3. multiplication")
    print("4. division")
    print("5. modulo")
    print("6. exit")

    choice = input("enter your choice (1/2/3/4/5/6): ")
    if choice in ('1','2','3','4','5'):
        num1 = float(input("enter first number: "))
        num2 = float(input("enter second number: "))
        if choice == '1':
            print("result:",add(num1, num2))
        elif choice == '2':
            print("result:",subtract(num1, num2))
        elif choice == '3':
            print("result:",multiply(num1, num2))
        elif choice == '4':
            print(
                "result:",divide(num1, num2))
        elif choice == '5':
            print("result:",modulo(num1, num2))
        elif choice == '6':
            print("exiting...")
            break
        else:
            print("invalid input. please enter a number from 1 to 6")

menu:
1. addition
2. subtraction
3. multiplication
4. division
5. modulo
6. exit

enter your choice (1/2/3/4/5/6):  3
enter first number:  6
enter second number:  7

result: 42.0

menu:
1. addition
2. subtraction
3. multiplication
4. division
5. modulo
6. exit

In [ ]:
def sum_of_list_elements(lst):
    total = 0
    for item in lst:
        try:
            total += float(item)
        except ValueError:
            print(f"Warning: Non-numeric value '{item}' found in the list. Skipping...")
    return total

my_list = [1, 2, 3, 4, 5, 'a', 6, 'b', 7, 8, 9]
result = sum_of_list_elements(my_list)
print("Sum of list elements:", result)